/* For use with the code_line-number_word-wrap_switcher_jquery.js Pelican plugin */
code {
  overflow: auto;
  /* This uses `white-space: pre-wrap` to get elements within <pre> tags to wrap. Python, for code chunks within three backticks (```), doesn't wordwrap code lines by default, because they're within <pre> tags, which don't wrap by default. See https://github.com/github/markup/issues/168 , which is specifically about this parsing issue, even though that link's discussion is talking about GitHub. */
  white-space: pre-wrap;
  /* css-3 */
  white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */
  white-space: -pre-wrap;
  /* Opera 4-6 */
  white-space: -o-pre-wrap;
  /* Opera 7 */
  word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

/* Following http://bililite.com/blog/2012/08/05/line-numbering-in-pre-elements/, use CSS to add line numbers to all spans that have the class 'code-line' */
.highlight pre {
  counter-reset: linecounter;
  padding-left: 2em;
  color: #f8f8f2;
}
.highlight pre span.code-line {
  counter-increment: linecounter;
  padding-left: 1em;
  text-indent: -1em;
  display: inline-block;
}
.highlight pre span.code-line:before {
  content: counter(linecounter);
  padding-right: 1em;
  display: inline-block;
  color: grey;
  text-align: right;
}

#n a img {
  display: inline;
}

hr {
  background-color: #707070;
}

.youtube {
  width: 100%;
  height: 30vw;
}

a.pic, a#cm {
  border: 0;
}

#n a.toclink, #n .footnote-ref {
  border: 0;
}

#comments {
  padding: 0;
  margin: 0;
}
#comments * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#comments a {
  border: 0;
}
#comments > h4 {
  font-weight: 700;
  margin-top: 0;
}
#comments .t {
  min-height: 58px;
  outline: 0;
}

.y {
  margin: 3px;
}

.r {
  max-width: 68em;
  padding-top: 0.95em;
  margin: 0.95em auto;
}
.r:not(:first-of-type) {
  border-top: 1px dotted;
}

.isso-follow-up .r {
  border-top: 1px dotted;
}

.pa > input {
  cursor: pointer;
}

.r > div.a, .x > .a {
  display: block;
  float: left;
  width: 7%;
  margin: 3px 15px 0 0;
}

.r.isso-no-votes span.votes {
  display: none;
}

#isso-root .r {
  max-width: 68em;
  padding-top: 0.95em;
  margin: 0.95em auto;
  border-top: 1px dotted !important;
}
#isso-root .preview .r {
  padding-top: 0;
  margin: 0;
}

.x > .a {
  float: left;
  margin: 5px 10px 0 5px;
  width: 48px;
  height: 48px;
  overflow: hidden;
}

.r > div.a > svg, .x > .a > svg {
  max-width: 48px;
  max-height: 48px;
  border: 1px dotted;
  border-radius: 3px;
}

.r > div.tw {
  display: block;
}
.r .isso-follow-up {
  padding-left: calc(7% + 20px);
}
.r > div.tw > .h, .r > div.tw > .isso-comment-footer {
  font-size: 0.95em;
}
.r > div.tw > .h {
  font-size: 0.85em;
}
.r > div.tw > .h #y:hover, .r > div.tw > .h a.permalink:hover, .r > div.tw > .h .note:hover, .r > div.tw > .h a.parent:hover {
  color: #ff9;
}
.r > div.tw > .h .note {
  float: right;
}
.r > div.tw > .iw .t {
  margin-top: 0.2em;
}
.r > div.tw > div.x p {
  margin-top: 0.2em;
}
.r > div.tw > div.x p:last-child {
  margin-bottom: 0.2em;
}
.r > div.tw > div.iw .t {
  width: 100%;
  border: 1px dotted;
  border-radius: 2px;
}
.r > div.tw > .isso-comment-footer {
  font-size: 0.8em;
  clear: left;
}
.r > div.tw > .isso-comment-footer a {
  font-weight: 700;
  text-decoration: none;
}
.r > div.tw > .isso-comment-footer > a {
  position: relative;
  top: 0.2em;
}
.r > div.tw > .isso-comment-footer > a + a {
  padding-left: 1em;
}
.r > div.tw > .isso-comment-footer .upvote svg, .r > div.tw > .isso-comment-footer .downvote svg {
  position: relative;
  top: 0.2em;
}
.r .x {
  margin-top: 0.8em;
}

.x {
  max-width: 68em;
  margin: 0 auto 2em;
}
.x > .fw {
  display: block;
  padding: 0;
}
.x > .fw > .as {
  display: block;
}
.x > .fw > .as .pa {
  display: block;
}
.x > .fw .t {
  margin: 0 0 0.3em;
  padding: 0.4em 0.8em;
  border-radius: 3px;
  border: 1px dotted;
}
.x > .fw .t:focus {
  border: 1px solid !important;
}
.x > .fw .preview {
  margin: 0 0 0.3em;
  padding: 0.4em 0.8em;
  border-radius: 3px;
  border: 1px dotted;
  display: none;
}
.x > .fw > .as .ir {
  display: inline-block;
  position: relative;
  max-width: 25%;
  margin: 0 1% 0 0;
}
.x > .fw > .as .ir input {
  background: transparent;
  padding: 0.3em 10px;
  max-width: 100%;
  border-radius: 3px;
  line-height: 1.4em;
  border: 1px dotted;
}
.x > .fw > .as .pa {
  display: inline-block;
  float: right;
  margin: 0;
}
.x > .fw input[name=edit] {
  display: none;
}
.x.preview-mode > .fw input[name=preview], .x.preview-mode > .fw .t {
  display: none;
}
.x.preview-mode > .fw .preview {
  display: block;
}
.x.preview-mode > .fw input[name=edit] {
  display: inline;
}
.x > .fw .preview {
  background-color: #f8f8f8;
  background: repeating-linear-gradient(-45deg, #f8f8f8, #f8f8f8 10px, #fff 10px, #fff 20px);
}
.x > .fw > .notification-section {
  display: none;
  padding-bottom: 10px;
}

#isso-root .r:not(:first-of-type), .isso-follow-up .r {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .x > .fw > .as .ir {
    display: block;
    max-width: 100%;
    margin: 0 0 0.3em;
  }
  .x > .fw > .as .ir input {
    width: 100%;
  }
  .x > .fw > .as .pa {
    display: block;
    float: none;
    text-align: right;
  }

  .youtube {
    width: 100%;
    height: 300px;
  }
}
@media screen and (max-width: 800px) {
  .youtube {
    width: 100%;
    height: 300px;
  }
}
div.footnote ol li p {
  margin-bottom: 0;
}

.highlight pre, .highlight .hll {
  background-color: #111;
}
.highlight .c {
  color: #75715e;
}
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}
.highlight .k {
  color: #66d9ef;
}
.highlight .l {
  color: #ae81ff;
}
.highlight .n {
  color: #f8f8f2;
}
.highlight .o {
  color: #f92672;
}
.highlight .p {
  color: #f8f8f2;
}
.highlight .cm, .highlight .cp, .highlight .c1, .highlight .cs {
  color: #75715e;
}
.highlight .ge {
  font-style: italic;
}
.highlight .gs {
  font-weight: bold;
}
.highlight .kc, .highlight .kd {
  color: #66d9ef;
}
.highlight .kn {
  color: #f92672;
}
.highlight .kp, .highlight .kr, .highlight .kt {
  color: #66d9ef;
}
.highlight .ld {
  color: #e6db74;
}
.highlight .m {
  color: #ae81ff;
}
.highlight .s {
  color: #e6db74;
}
.highlight .na {
  color: #a6e22e;
}
.highlight .nb {
  color: #f8f8f2;
}
.highlight .nc {
  color: #a6e22e;
}
.highlight .no {
  color: #66d9ef;
}
.highlight .nd {
  color: #a6e22e;
}
.highlight .ni {
  color: #f8f8f2;
}
.highlight .ne, .highlight .nf {
  color: #a6e22e;
}
.highlight .nl, .highlight .nn {
  color: #f8f8f2;
}
.highlight .nx {
  color: #a6e22e;
}
.highlight .py {
  color: #f8f8f2;
}
.highlight .nt {
  color: #f92672;
}
.highlight .nv {
  color: #f8f8f2;
}
.highlight .ow {
  color: #f92672;
}
.highlight .w {
  color: #f8f8f2;
}
.highlight .mf, .highlight .mh, .highlight .mi, .highlight .mo {
  color: #ae81ff;
}
.highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2 {
  color: #e6db74;
}
.highlight .se {
  color: #ae81ff;
}
.highlight .sh, .highlight .si, .highlight .sx, .highlight .sr, .highlight .s1, .highlight .ss {
  color: #e6db74;
}
.highlight .bp, .highlight .vc, .highlight .vg, .highlight .vi {
  color: #f8f8f2;
}
.highlight .il {
  color: #ae81ff;
}
.highlight .gu {
  color: #75715e;
}
.highlight .gd {
  color: #f92672;
}
.highlight .gi {
  color: #a6e22e;
}

#series {
  margin: 0 1em 1em;
  padding: 2em;
  border: 1px dotted;
}

/*# sourceMappingURL=inside_20190523.css.map */
