#tipue_search_results_count{
    font-size:26px;
    line-height:1.1538;
    margin-bottom:.9231em;
    font-weight:700
}
#tipue table,#tipue th,#tipue td{
    border:0!important;margin-bottom:0px
}
.tipue_search_content_title a{
    font-size:22px;
    line-height:1.3636;
    margin-top:2.1818em;
    margin-bottom:1.0909em
}
.tipue_search_foot_box{border:0!important}
@media screen and (min-width:46.25em){
    #tipue_search_results_count{
        font-size:35px;
        line-height:1.2;
        margin-bottom:1.2em
    }
    .tipue_search_content_title a{
        font-size:29px;
        line-height:1.2069;
        margin-top:1.931em;
        margin-bottom:.9655em
    }
}
@media screen and (min-width:55em){
    #tipue_search_results_count{
        font-size:39px;
        line-height:1.2308;
        margin-bottom:1.2308em
    }
    .tipue_search_content_title a{
        font-size:32px;
        line-height:1.25;
        margin-top:2em;
        margin-bottom:1em
    }
}
@media screen and (min-width:59.6875em){
    #tipue_search_results_count{
        font-size:31px;
        line-height:1.1613;
        margin-bottom:1.1613em
    }
    .tipue_search_content_title a{
        font-size:26px;
        line-height:1.3846;
        margin-top:1.8462em;
        margin-bottom:.9231em
    }
}
@media screen and (min-width:68.75em){
    #tipue_search_results_count{
        font-size:35px;
        line-height:1.2;
        margin-bottom:1.2em
    }
    .tipue_search_content_title a{
        font-size:29px;
        line-height:1.2069;
        margin-top:1.931em;
        margin-bottom:.9655em
    }
}
@media screen and (min-width:77.5em){
    #tipue_search_results_count{
        font-size:39px;
        line-height:1.2308;
        margin-bottom:1.2308em
    }
    .tipue_search_content_title a{
        font-size:32px;
        line-height:1.25;
        margin-top:2em;
        margin-bottom:1em
    }
}
