#tipue_search_results_count {
	font-size: 26px;
	font-size: 2.6rem;
	line-height: 1.1538;
	margin-bottom: 0.9231em;
	font-weight: bold
}

#tipue table, #tipue th, #tipue td {
    border: 0 !important;
}

.tipue_search_content_title a {
	font-size: 22px;
	font-size: 2.2rem;
	line-height: 1.3636;
	margin-top: 2.1818em;
	margin-bottom: 1.0909em;
}

/**
 * 16.2 Tablet Small 740px
 */

@media screen and (min-width: 46.25em) {
	#tipue_search_results_count {
		font-size: 35px;
		font-size: 3.5rem;
		line-height: 1.2;
		margin-bottom: 1.2em
	}
	.tipue_search_content_title a {
		font-size: 29px;
		font-size: 2.9rem;
		line-height: 1.2069;
		margin-top: 1.931em;
		margin-bottom: 0.9655em
	}
}

/**
 * 16.3 Tablet Large 880px
 */

@media screen and (min-width: 55em) {
	#tipue_search_results_count {
		font-size: 39px;
		font-size: 3.9rem;
		line-height: 1.2308;
		margin-bottom: 1.2308em
	}
	.tipue_search_content_title a {
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 1.25;
		margin-top: 2em;
		margin-bottom: 1em
	}
}

/**
 * 16.4 Desktop Small 955px
 */

@media screen and (min-width: 59.6875em) {
	#tipue_search_results_count {
		font-size: 31px;
		font-size: 3.1rem;
		line-height: 1.1613;
		margin-bottom: 1.1613em
	}
	.tipue_search_content_title a {
		font-size: 26px;
		font-size: 2.6rem;
		line-height: 1.3846;
		margin-top: 1.8462em;
		margin-bottom: 0.9231em
	}
}

/**
 * 16.5 Desktop Medium 1100px
 */

@media screen and (min-width: 68.75em) {
	#tipue_search_results_count {
		font-size: 35px;
		font-size: 3.5rem;
		line-height: 1.2;
		margin-bottom: 1.2em
	}
	.tipue_search_content_title a {
		font-size: 29px;
		font-size: 2.9rem;
		line-height: 1.2069;
		margin-top: 1.931em;
		margin-bottom: 0.9655em
	}
}

/**
 * 16.6 Desktop Large 1240px
 */

@media screen and (min-width: 77.5em) {
	#tipue_search_results_count {
		font-size: 39px;
		font-size: 3.9rem;
		line-height: 1.2308;
		margin-bottom: 1.2308em
	}
	.tipue_search_content_title a{
		font-size: 32px;
		font-size: 3.2rem;
		line-height: 1.25;
		margin-top: 2em;
		margin-bottom: 1em
	}
}
